<a href="https://colab.research.google.com/github/rameshbigdata/Data_Engineering_Simplified/blob/main/LeetcodeExamples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**2206. Divide Array Into Equal Pairs**

Description:
You need to divide nums into n pairs such that:

Each element belongs to exactly one pair.
The elements present in a pair are equal.
Return true if nums can be divided into n pairs, otherwise return false.



Example 1:

Input: nums = [3,2,3,2,2,2]
Output: true
Explanation:
There are 6 elements in nums, so they should be divided into 6 / 2 = 3 pairs.
If nums is divided into the pairs (2, 2), (3, 3), and (2, 2), it will satisfy all the conditions.
Example 2:

Input: nums = [1,2,3,4]
Output: false
Explanation:
There is no way to divide nums into 4 / 2 = 2 pairs such that the pairs satisfy every condition.

In [ ]:
WITH NumberCounts AS (
    SELECT num, COUNT(*) AS count
    FROM numbers
    GROUP BY num
)
SELECT CASE
    WHEN SUM(count % 2) = 0 THEN 'True'
    ELSE 'False'
END AS can_be_divided
FROM NumberCounts;